<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Employee Directory</title>
<!-- Referencing CSS file in Thymeleaf template -->
<link rel="stylesheet" th:href="@{/css/demo.css}" />
<!-- @ marks path to the context root of the web application -->
</head>

<body>
	<h3>Employee Directory</h3>
	<hr>

	<table border="1">
		<thead>
			<tr>
				<th>First Name</th>
				<th>Last Name</th>
				<th>Email</th>
			</tr>
		</thead>

		<tbody>
			<tr th:each="employee: ${employees}">
				<td th:text="${employee.firstName}" />
				<td th:text="${employee.lastName}" />
				<td th:text="${employee.email}" />
			</tr>
		</tbody>
	</table>
</body>
</html>