<h1> Welcome </h1>

<div class="container">
    <h4>
        Hey {{name}}, Welcome to our awesome App!
        You can manage your todos <a routerLink="/todos"> here </a>.
    </h4>
</div>

<div class="container">
    Click here to get a customized welcome message
    <button  (click)="getWelcomeMessageWithParameter()" class="btn btn-success"> Get Welcome Message </button>
</div>

<div class="container" *ngIf="welcomeMessageFromService">
    <h2> Your customized Welcome Message </h2>
    {{welcomeMessageFromService}}
</div>
